body {
    background-color: #9dd53a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ul_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.li_1 {
    display: inline;
  }

  .week {
text-align: center;
  }

